BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 70
BinPackArguments: false
BinPackParameters: false
AllowShortFunctionsOnASingleLine: None
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterControlStatement: false
  AfterClass: true
  AfterEnum: true
  AfterStruct: true
  AfterUnion: true
  BeforeElse: true
  SplitEmptyFunction: false
  SplitEmptyRecord: false
Language: JavaScript
JavaScriptQuotes: Single
